{{ if .Site.Data.homepage.our_service.enable }}
<section class="section rad-animation-group mt-2" id="ourservice">
  <div class="container">
    <div class="rad-fade-down">
      <div class="text-center">
        <h2 class="blue-font">{{ .Site.Data.homepage.our_service.title }} </h2>
        <p class="center-description">{{ .Site.Data.homepage.our_service.desc | safeHTML}}</p>
      </div>
      <div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {{ range .Site.Data.homepage.our_service.items }}
          <div class="item {{ .active }}">
            <div class="d-flex justify-content-center">
              <div class="col-md-8 text-center mx-auto col-lg-8 col-12" >
                <img class="img-responsive m-auto" src="{{ .image }}" alt="logo" style="width: 300px;"/>
                <h3 class="mx-4 blue-font">{{ .title }}</h3>
                <p class="mt-4 mx-3 text-justify">
                  {{ .description | safeHTML }}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
</style>
